<mat-toolbar>
  <button (click)="toggleMenu()" aria-label="Open Menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-spacer">KLogs</span>
  <span>{{selectedApplicationIn}}</span>
  <span class="app-spacer"></span>

  <!--  icones do lado direito da toolbar -->

  <div class="app-mat-toolbar-options">
    <button [color]="(selectedNamespace != 'Selecione Um NameSpace') ? 'primary' : 'warn'"
            [matMenuTriggerFor]="nameSpaceMenu"
            mat-stroked-button>{{selectedNamespace}}</button>
    <mat-menu #nameSpaceMenu="matMenu">
      <button (click)="chageNameSpace(namespace.metadata.name)" *ngFor="let namespace of nameSpaceList"
              mat-menu-item>{{namespace.metadata.name}}</button>
    </mat-menu>

    <button (click)="openSettingsDialog()" aria-label="Settings" class="favorite-icon" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <!--  icones do lado direito da toolbar -->

</mat-toolbar>
