<h1 mat-dialog-title>Settings</h1>
<form (submit)="saveSettings()" [formGroup]="settingsForm">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Cluster Remote Address</mat-label>
      <input formControlName="clusterRemoteAddress" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>NameSpace Default</mat-label>
      <input formControlName="nameSpace" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Auth Token</mat-label>
      <input formControlName="authToken" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="!this.firstSettings" mat-dialog-close mat-stroked-button>Close</button>
    <button color="primary" mat-stroked-button type="submit">Save</button>
  </div>
</form>
