<app-toolbar (keydown.escape)="closeSideNav()"
             (menuState)="sidenav.toggle()"
             (nameSpaceStateOut)="reloadMenuByNameSpace()"
             (toolbarMenuStateOut)="toolbarMenuHandle()"
             [isLoadingIn]="isLoading"
             [selectedApplicationIn]="selectedApplication"></app-toolbar>
<mat-sidenav-container (backdropClick)="closeSideNav()" class="side-nav-container">
  <mat-sidenav #sidenav disableClose mode="side">
    <app-sidenav (idMicroServiceOut)="getLogsFromIdMicroService($event)"
                 (menuStateOut)="sidenav.toggle()"
                 (shouldGetMenuListOut)="setShouldGetMenuList($event)"
                 [shouldGetMenuListIn]="shouldGetMenuList">
    </app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content (click)="closeSideNav()">
    <app-detail [isLoadingIn]="isLoading" [logDataIn]="logData"></app-detail>
  </mat-sidenav-content>
</mat-sidenav-container>
