.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: text-top;
  height: 100%;
}

.detail-container .menuDetail {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 10%;
  margin-right: 5%;
  justify-content: flex-end;
}

.detail-container .detail-container-log {
  width: 100%;
  display: inline-grid;
}

.detail-container h1 {
  width: 100px;
  height: 100px;
}

.detail-container .toolbar-logo-img {
  display: flex;
  align-self: center;
  vertical-align: center;
  width: 50vw;
}

.detail-container .app-mat-spinner {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 10%;
  margin-right: 5%;
  justify-content: flex-end;
}

.detail-container .app-log {
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}
