<div class="detail-container">
  <div class="detail-container-log" *ngIf="logDataIn.length > 0">
    <code class="app-log" highlight-js [lang]="'log'">
      <pre  *ngFor="let line of logDataIn">{{line}}</pre>
    </code>
  </div>
  <img *ngIf="logDataIn.length == 0" src="assets/images/logo.png" alt="KLogs Logo" class="toolbar-logo-img">
  <mat-progress-bar *ngIf="isLoadingIn" mode="indeterminate"></mat-progress-bar>
  <div class="menuDetail"  *ngIf="logDataIn.length > 0">
    <button mat-fab color="primary" [matMenuTriggerFor]="detailMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #detailMenu="matMenu" yPosition="above">
      <button mat-fab color="primary" (click)="downloadLogFile(logDataIn)">
        <mat-icon>download</mat-icon>
      </button>
    </mat-menu>
  </div>

</div>
