@import '~normalize.css';

html {
  overflow: hidden;
  margin: 0;
}

.background-error {
  background:#FC3903;
  color: whitesmoke;
}

.background-info {
  background: rgb(58, 58, 61);
  color: #ece9e9;
}

.background-warning {
  background: #ecbd8e;
  color: #ece9e9;
}
