@import '~normalize.css';

html {
  overflow: hidden;
  margin: 0;
}

.background-error {
  background: rgb(153, 50, 50);
  color: #000;
}

.background-info {
  background: rgb(58, 116, 238);
  color: #000;
}

.background-warning {
  background: rgb(244, 188, 8);
  color: #000;
}
